In [78]:
import pandas as pd
import numpy as np

#train data

In [79]:
df = pd.read_parquet("F:\\Simple_projects\\Akaike\\Structured_Data_Assignment\\train.parquet")

In [80]:
df.head()

                            Patient-Uid       Date           Incident
0  a0db1e73-1c7c-11ec-ae39-16262ee38c7f 2019-03-09  PRIMARY_DIAGNOSIS
1  a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f 2015-05-16  PRIMARY_DIAGNOSIS
3  a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f 2018-01-30     SYMPTOM_TYPE_0
4  a0dc950b-1c7c-11ec-b6ec-16262ee38c7f 2015-04-22        DRUG_TYPE_0
8  a0dc9543-1c7c-11ec-bb63-16262ee38c7f 2016-06-18        DRUG_TYPE_1

In [81]:
df.describe(datetime_is_numeric=True)

                                Date
count                        3220868
mean   2018-02-24 18:27:44.495410944
min              2015-04-07 00:00:00
25%              2016-11-30 00:00:00
50%              2018-04-11 00:00:00
75%              2019-05-30 00:00:00
max              2020-09-03 00:00:00

data cleaning

In [82]:
df = df.dropna() # Drop rows with any null values

In [25]:
df = df.drop_duplicates() # Remove duplicates from a DataFrame

In [83]:
df.head()

                            Patient-Uid       Date           Incident
0  a0db1e73-1c7c-11ec-ae39-16262ee38c7f 2019-03-09  PRIMARY_DIAGNOSIS
1  a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f 2015-05-16  PRIMARY_DIAGNOSIS
3  a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f 2018-01-30     SYMPTOM_TYPE_0
4  a0dc950b-1c7c-11ec-b6ec-16262ee38c7f 2015-04-22        DRUG_TYPE_0
8  a0dc9543-1c7c-11ec-bb63-16262ee38c7f 2016-06-18        DRUG_TYPE_1

In [87]:
# finding total number of patients
df['Patient-Uid'] = df['Patient-Uid'].str.replace('-16262ee38c7f', '')
df['Patient-Uid'] = df['Patient-Uid'].str.replace('-1c7c-11ec', '')
df["Patient-Uid"].nunique()

27033

In [88]:
df = df.drop("Date", axis=1) # droping date column

In [89]:
sort_train = df.sort_values(by = ["Patient-Uid"]).reset_index(drop = True) #groupby patient id

In [90]:
sort_train

           Patient-Uid           Incident
0        a0db1e73-ae39  PRIMARY_DIAGNOSIS
1        a0db1e73-ae39        DRUG_TYPE_7
2        a0db1e73-ae39        TEST_TYPE_0
3        a0db1e73-ae39        DRUG_TYPE_0
4        a0db1e73-ae39        DRUG_TYPE_0
...                ...                ...
3220863  a0f0d582-a6c1        DRUG_TYPE_1
3220864  a0f0d582-a6c1        DRUG_TYPE_1
3220865  a0f0d582-a6c1        DRUG_TYPE_1
3220866  a0f0d582-a6c1        DRUG_TYPE_1
3220867  a0f0d582-a6c1        DRUG_TYPE_1

[3220868 rows x 2 columns]

one hot encoding done

In [91]:
# One-hot encode the Incident column
one_hot = pd.get_dummies(sort_train['Incident'])

# Concatenate the one-hot encoded column with the original DataFrame
encoded = pd.concat([sort_train, one_hot], axis=1)

# Group the incidents by Patient-Uid and sum the one-hot encoded columns
encoded = encoded.groupby('Patient-Uid').sum()

# Display the resulting DataFrame
encoded

C:\Users\USER\AppData\Local\Temp\ipykernel_11100\2304323560.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  encoded = encoded.groupby('Patient-Uid').sum()

,DRUG_TYPE_0,DRUG_TYPE_1,DRUG_TYPE_10,DRUG_TYPE_11,DRUG_TYPE_12,DRUG_TYPE_13,DRUG_TYPE_14,DRUG_TYPE_15,DRUG_TYPE_16,DRUG_TYPE_17,...,SYMPTOM_TYPE_7,SYMPTOM_TYPE_8,SYMPTOM_TYPE_9,TARGET DRUG,TEST_TYPE_0,TEST_TYPE_1,TEST_TYPE_2,TEST_TYPE_3,TEST_TYPE_4,TEST_TYPE_5
Patient-Uid,,,,,,,,,,,,,,,,,,,,,
a0db1e73-ae39,29,0,0,1,0,0,0,0,0,0,...,1,0,0,0,10,2,0,0,0,0
a0dc93f2-9cd2,8,27,0,0,0,0,0,0,0,0,...,0,0,0,0,1,4,0,0,0,0
a0dc94c6-a3a0,6,7,0,10,0,0,0,0,0,0,...,0,0,0,0,3,2,0,0,0,0
a0dc950b-b6ec,15,42,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
a0dc9543-bb63,2,45,0,24,0,0,0,0,0,0,...,5,6,0,0,9,27,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
a0f0d4c5-bfec,48,9,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
a0f0d4f4-b144,20,23,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
a0f0d523-89d2,8,48,0,3,0,0,0,0,0,0,...,0,0,0,3,0,3,0,0,0,0
a0f0d553-a70a,7,44,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
a0f0d582-a6c1,3,35,1,0,0,0,0,0,0,0,...,0,0,0,3,0,4,1,0,0,0

In [92]:
encoded['TARGET DRUG'] = encoded['TARGET DRUG'].apply(lambda x: 0 if x == 0 else 1)

In [93]:
encoded.head()

,DRUG_TYPE_0,DRUG_TYPE_1,DRUG_TYPE_10,DRUG_TYPE_11,DRUG_TYPE_12,DRUG_TYPE_13,DRUG_TYPE_14,DRUG_TYPE_15,DRUG_TYPE_16,DRUG_TYPE_17,...,SYMPTOM_TYPE_7,SYMPTOM_TYPE_8,SYMPTOM_TYPE_9,TARGET DRUG,TEST_TYPE_0,TEST_TYPE_1,TEST_TYPE_2,TEST_TYPE_3,TEST_TYPE_4,TEST_TYPE_5
Patient-Uid,,,,,,,,,,,,,,,,,,,,,
a0db1e73-ae39,29,0,0,1,0,0,0,0,0,0,...,1,0,0,0,10,2,0,0,0,0
a0dc93f2-9cd2,8,27,0,0,0,0,0,0,0,0,...,0,0,0,0,1,4,0,0,0,0
a0dc94c6-a3a0,6,7,0,10,0,0,0,0,0,0,...,0,0,0,0,3,2,0,0,0,0
a0dc950b-b6ec,15,42,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
a0dc9543-bb63,2,45,0,24,0,0,0,0,0,0,...,5,6,0,0,9,27,1,0,0,0

In [74]:
encoded.drop(['Patient-Uid'],inplace=True,axis=1)

In [94]:
print(encoded['TARGET DRUG'].value_counts(normalize=True))

0    0.653239
1    0.346761
Name: TARGET DRUG, dtype: float64

In this data target drug is nearly 65:35 ration so we consider this as balance data.

use grouped for train data

#test data

In [130]:
df1 = pd.read_parquet("F:\\Simple_projects\\Akaike\\Structured_Data_Assignment\\test.parquet")

In [131]:
df.describe(datetime_is_numeric=True)

          Patient-Uid     Incident
count         3220868      3220868
unique          27033           57
top     a0ddfd2c-876d  DRUG_TYPE_6
freq             1645       561934

In [132]:
df1.head()

                            Patient-Uid       Date        Incident
0  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2016-12-08  SYMPTOM_TYPE_0
1  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-10-17     DRUG_TYPE_0
2  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2017-12-01     DRUG_TYPE_2
3  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-12-05     DRUG_TYPE_1
4  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2017-11-04  SYMPTOM_TYPE_0

data cleaning

In [133]:
df1=df1.dropna() # Drop rows with any null values

In [134]:
df1 = df1.drop_duplicates() # Remove duplicates from a DataFrame

In [104]:
# finding total number of patients
df1['Patient-Uid'] = df1['Patient-Uid'].str.replace('-16262ee38c7f', '')
df1['Patient-Uid'] = df1['Patient-Uid'].str.replace('-1c7c-11ec', '')
df1["Patient-Uid"].nunique()

11482

In [136]:
df1 = df1.drop("Date", axis=1)

In [137]:
sort_test = df1.sort_values(by = ["Patient-Uid"]).reset_index(drop = True)

In [138]:
# One-hot encode the Incident column
one_hot_test = pd.get_dummies(sort_test['Incident'])

# Concatenate the one-hot encoded column with the original DataFrame
encoded_test = pd.concat([sort_test, one_hot_test], axis=1)

# Group the incidents by Patient-Uid and sum the one-hot encoded columns
encoded_test = encoded_test.groupby('Patient-Uid').sum()

# Display the resulting DataFrame
encoded_test

C:\Users\USER\AppData\Local\Temp\ipykernel_11100\2698179526.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  encoded_test = encoded_test.groupby('Patient-Uid').sum()

,DRUG_TYPE_0,DRUG_TYPE_1,DRUG_TYPE_10,DRUG_TYPE_11,DRUG_TYPE_12,DRUG_TYPE_13,DRUG_TYPE_14,DRUG_TYPE_15,DRUG_TYPE_16,DRUG_TYPE_17,...,SYMPTOM_TYPE_6,SYMPTOM_TYPE_7,SYMPTOM_TYPE_8,SYMPTOM_TYPE_9,TEST_TYPE_0,TEST_TYPE_1,TEST_TYPE_2,TEST_TYPE_3,TEST_TYPE_4,TEST_TYPE_5
Patient-Uid,,,,,,,,,,,,,,,,,,,,,
a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f,8,3,0,1,0,0,0,0,0,0,...,3,0,0,0,2,0,0,0,0,0
a0f9e9f9-1c7c-11ec-b565-16262ee38c7f,2,30,0,0,0,0,0,9,0,0,...,2,0,0,0,0,0,0,1,0,0
a0f9ea43-1c7c-11ec-aa10-16262ee38c7f,4,33,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
a0f9ea7c-1c7c-11ec-af15-16262ee38c7f,2,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
a0f9eab1-1c7c-11ec-a732-16262ee38c7f,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
a102720c-1c7c-11ec-bd9a-16262ee38c7f,33,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
a102723c-1c7c-11ec-9f80-16262ee38c7f,4,6,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
a102726b-1c7c-11ec-bfbf-16262ee38c7f,14,5,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
a102729b-1c7c-11ec-86ba-16262ee38c7f,5,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
a10272c9-1c7c-11ec-b3ce-16262ee38c7f,1,0,0,0,0,30,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

one hot encoding one

In [139]:
# add a new column 'TARGET DRUG' to the DataFrame with default values of 0

encoded_test['TARGET DRUG'] = 0

In [140]:
X=encoded.drop('TARGET DRUG',axis=1).values
y=encoded['TARGET DRUG'].values

ML Model(random forest)

In [141]:
from sklearn.model_selection import train_test_split
# split train data into train and validation sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2)

In [142]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score,f1_score
rf = RandomForestClassifier(n_estimators= 100, max_depth = 16, max_features='sqrt')
rf.fit(X_train, y_train)
predictions = rf.predict(X_val)
print("Training Accuracy :",rf.score(X_train,y_train))
print("Testing Accuracy :",rf.score(X_val,y_val))
print("F1 Score :", f1_score(y_val,predictions))
print("ROC AUC Score :", roc_auc_score(y_val,predictions))

Training Accuracy : 0.9403495792102099
Testing Accuracy : 0.8082115775846125
F1 Score : 0.705982421321236
ROC AUC Score : 0.7736357646081843

In [143]:
predict = rf.predict(encoded_test)

c:\Users\USER\Anaconda3\envs\XGB\lib\site-packages\sklearn\base.py:413: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

In [149]:
prediction = pd.DataFrame(predict, columns=["Target Drug"])

In [150]:
prediction

       Target Drug
0                0
1                0
2                0
3                0
4                0
...            ...
11477            0
11478            0
11479            0
11480            0
11481            0

[11482 rows x 1 columns]

In [151]:
encoded_test = encoded_test.reset_index()

In [153]:
Final_Prediction = pd.concat([encoded_test["Patient-Uid"], prediction["Target Drug"]], axis=1)

patients who needs traget drug

In [155]:
Patient = Final_Prediction[Final_Prediction["Target Drug"]==1]
Patient

                                Patient-Uid  Target Drug
130    a0fa02fd-1c7c-11ec-86c6-16262ee38c7f            1
189    a0fa0e59-1c7c-11ec-8274-16262ee38c7f            1
314    a0fa25f4-1c7c-11ec-a5c8-16262ee38c7f            1
322    a0fa2770-1c7c-11ec-a1b8-16262ee38c7f            1
521    a0fa4d42-1c7c-11ec-914b-16262ee38c7f            1
536    a0fa500e-1c7c-11ec-b98a-16262ee38c7f            1
949    a0fa9ecc-1c7c-11ec-a9a0-16262ee38c7f            1
1805   a0fb4225-1c7c-11ec-9e36-16262ee38c7f            1
3062   a0fc32c3-1c7c-11ec-a0b4-16262ee38c7f            1
4193   a0fd08af-1c7c-11ec-a2d9-16262ee38c7f            1
4496   a0fd4205-1c7c-11ec-8bf9-16262ee38c7f            1
5485   a0fdff8c-1c7c-11ec-b8f0-16262ee38c7f            1
7204   a0ff4355-1c7c-11ec-b260-16262ee38c7f            1
7656   a0ff9915-1c7c-11ec-9024-16262ee38c7f            1
7658   a0ff9975-1c7c-11ec-97aa-16262ee38c7f            1
7743   a0ffa98e-1c7c-11ec-827e-16262ee38c7f            1
7875   a0ffc274-1c7c-11ec-a149-16262ee38c7f            1
7938   a0ffce47-1c7c-11ec-a46e-16262ee38c7f            1
8052   a0ffe3dd-1c7c-11ec-bce2-16262ee38c7f            1
8157   a0fff7ad-1c7c-11ec-8594-16262ee38c7f            1
8293   a10011d0-1c7c-11ec-8a16-16262ee38c7f            1
8312   a100155c-1c7c-11ec-93cc-16262ee38c7f            1
8399   a10025c8-1c7c-11ec-8673-16262ee38c7f            1
8405   a10026e7-1c7c-11ec-a397-16262ee38c7f            1
8417   a100293b-1c7c-11ec-9471-16262ee38c7f            1
8469   a1003308-1c7c-11ec-a6d2-16262ee38c7f            1
8593   a1004a70-1c7c-11ec-a4ad-16262ee38c7f            1
8643   a10053dd-1c7c-11ec-8889-16262ee38c7f            1
8709   a1006069-1c7c-11ec-83a8-16262ee38c7f            1
8753   a10068b5-1c7c-11ec-b5b3-16262ee38c7f            1
8888   a1008233-1c7c-11ec-bf66-16262ee38c7f            1
8925   a100892d-1c7c-11ec-aa64-16262ee38c7f            1
8935   a1008b0d-1c7c-11ec-a940-16262ee38c7f            1
9066   a100a442-1c7c-11ec-9319-16262ee38c7f            1
9067   a100a471-1c7c-11ec-bfe4-16262ee38c7f            1
9083   a100a784-1c7c-11ec-a017-16262ee38c7f            1
9153   a100b4bd-1c7c-11ec-9bf9-16262ee38c7f            1
9155   a100b51b-1c7c-11ec-88ff-16262ee38c7f            1
9385   a100e0d4-1c7c-11ec-83dc-16262ee38c7f            1
9604   a10109bb-1c7c-11ec-b379-16262ee38c7f            1
9861   a10139b7-1c7c-11ec-a576-16262ee38c7f            1
10306  a1018d58-1c7c-11ec-a6e0-16262ee38c7f            1
10373  a10199cf-1c7c-11ec-b860-16262ee38c7f            1
10496  a101b0e1-1c7c-11ec-83a0-16262ee38c7f            1
10572  a101bf28-1c7c-11ec-8c57-16262ee38c7f            1
10607  a101c5b7-1c7c-11ec-b29f-16262ee38c7f            1
10610  a101c645-1c7c-11ec-b236-16262ee38c7f            1
10708  a101d901-1c7c-11ec-984c-16262ee38c7f            1
10876  a101f87f-1c7c-11ec-9fcb-16262ee38c7f            1
10983  a10214fd-1c7c-11ec-b1a1-16262ee38c7f            1

In [157]:
Final_Prediction.to_csv("targetdrug.csv",index=False)